{% extends "polls/base.html" %}

{% block detail_question %} 

    {% if detail_question %}
    <h1>{{detail_question.question_text}}</h1>

        <form action="{% url 'vote' detail_question.id %}" method="post">
        {% csrf_token %}
            <ul>
                {% for item in detail_question.choice_set.all %}
                    <li><input type="radio" value="{{item.id}}" name="choice">{{item.choice_text}}</li>
                {% endfor detail_question %}
                <p><input type="submit" value="Send"></p>
            </ul>
        </form>
    {% endif %}


{% endblock detail_question %}